* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
}

.attribution {
  text-align: center;
}

.header {
  background: url("../images/bg-pattern-intro-mobile.svg") no-repeat left 38% bottom 55%, linear-gradient(to bottom right, hsl(13deg, 100%, 72%) 0%, hsl(353deg, 100%, 62%) 100%);
  border-radius: 0 0 0 20%;
  height: 85vh;
  margin-bottom: 70px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .header {
    background: url("../images/bg-pattern-intro-desktop.svg") no-repeat left 38% bottom 55%, linear-gradient(to bottom right, hsl(13deg, 100%, 72%) 0%, hsl(353deg, 100%, 62%) 100%);
    border-radius: 0 0 0 100px;
    height: 50vh;
  }
}
.header__image {
  display: flex;
  justify-content: space-between;
}
.header__image--logo {
  padding: 40px 0 0 15px;
  width: 20%;
}
@media screen and (min-width: 1024px) {
  .header__image--logo {
    width: 8%;
    margin-left: 120px;
  }
}
.header__image--logo img {
  width: 100%;
}
.header__image--burger {
  padding: 45px 15px 0 0;
  width: 11%;
  transition: 0.3s linear;
}
@media screen and (min-width: 1024px) {
  .header__image--burger {
    display: none;
  }
}
.header__image--burger img {
  width: 100%;
}
.header__nav {
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 0px 24px 0px hsl(240deg, 3%, 79%);
  border-radius: 5px;
  height: 75vh;
  left: 150%;
  padding-top: 15px;
  position: absolute;
  transition: 0.3s linear;
  text-align: center;
  top: 20%;
  width: 90%;
}
@media screen and (min-width: 1024px) {
  .header__nav {
    background-color: transparent;
    box-shadow: 0 0 0 0;
    color: hsl(0deg, 0%, 100%);
    display: flex;
    justify-content: space-between;
    left: 22%;
    top: 7%;
    height: 4vh;
    width: 70%;
  }
}
.header__nav.show-menu {
  left: 5%;
}
.header__nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
@media screen and (min-width: 1024px) {
  .header__nav ul {
    flex-direction: row;
    position: relative;
  }
}
.header__nav ul a {
  color: hsl(208deg, 49%, 24%);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .header__nav ul a {
    color: #ddd;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .header__nav ul a:hover {
    border-bottom: 2px solid hsl(0deg, 0%, 100%);
    color: hsl(0deg, 0%, 100%);
  }
}
.header__nav ul a .arrow {
  display: inline-block;
  background-image: url("../images/icon-arrow-dark.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
@media screen and (min-width: 1024px) {
  .header__nav ul a .arrow {
    background-image: url("../images/icon-arrow-light.svg");
  }
}
.header__nav ul li {
  background-color: #eee;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  margin: 0 25px;
}
@media screen and (min-width: 1024px) {
  .header__nav ul li.header__nav--product {
    left: -24%;
    top: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav ul li.header__nav--company {
    left: 15%;
    top: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav ul li.header__nav--connect {
    left: 60%;
    top: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav ul li {
    align-items: flex-start;
    background-color: hsl(0deg, 0%, 100%);
    justify-content: center;
    padding-left: 10px;
    width: 150px;
    position: absolute;
    height: 15vh;
  }
}
.header__nav ul li.show-submenu {
  display: flex;
}
.header__nav ul li a {
  color: hsl(208deg, 49%, 24%);
  font-size: 17px;
  margin: 0;
  margin-top: 5px;
}
@media screen and (min-width: 1024px) {
  .header__nav ul li a {
    color: hsl(207deg, 13%, 34%);
  }
  .header__nav ul li a:hover {
    color: hsl(240deg, 10%, 16%);
  }
}
.header__nav-authentication {
  border-top: 2px solid #eee;
  display: flex;
  flex-direction: column;
  margin: 10px 25px 0;
  padding-top: 10px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .header__nav-authentication {
    border: 0;
    flex-direction: row;
    margin: 0;
    margin-top: -10px;
    padding: 0;
  }
}
.header__nav-authentication button {
  border: none;
  cursor: pointer;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  .header__nav-authentication button {
    font-size: 16px;
  }
}
.header__nav-authentication button#login {
  background-color: transparent;
  color: hsl(208deg, 49%, 24%);
  font-weight: 700;
  padding-bottom: 5px;
}
@media screen and (min-width: 1024px) {
  .header__nav-authentication button#login {
    color: #ddd;
    padding-bottom: 0;
  }
}
.header__nav-authentication button#register {
  background: linear-gradient(to right, hsl(13deg, 100%, 72%) 0%, hsl(353deg, 100%, 62%) 30%);
  border-radius: 25px;
  color: hsl(0deg, 0%, 100%);
  margin: 0 80px;
  padding: 5px 25px;
}
@media screen and (min-width: 1024px) {
  .header__nav-authentication button#register {
    background: hsl(0deg, 0%, 100%);
    color: hsl(353deg, 100%, 62%);
    padding: 5px 30px;
    margin-left: 20px;
    transition: 0.2s linear;
  }
  .header__nav-authentication button#register:hover {
    background: hsl(355deg, 96%, 80%);
  }
}
.header__hero {
  margin-top: 120px;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .header__hero {
    margin-top: 100px;
  }
}
.header__hero h1 {
  padding: 0 45px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .header__hero h1 {
    font-size: 42px;
    font-weight: 700;
  }
}
.header__hero p {
  font-weight: 400;
  padding: 0 50px 35px;
}
@media screen and (min-width: 1024px) {
  .header__hero p {
    color: hsl(240deg, 3%, 79%);
  }
}
.header__hero button {
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 600;
  transition: 0.3s;
}
.header__hero button#start-button {
  color: hsl(353deg, 100%, 62%);
  background-color: hsl(0deg, 0%, 100%);
  margin-right: 10px;
}
.header__hero button#start-button:hover {
  background-color: hsl(355deg, 96%, 80%);
  border-color: hsl(13deg, 100%, 72%);
  color: hsl(0deg, 0%, 100%);
}
.header__hero button#learn-button {
  background-color: transparent;
  border: 1px solid hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 100%);
}
.header__hero button#learn-button:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(353deg, 100%, 62%);
}

@media screen and (min-width: 1024px) {
  .designed {
    margin-top: 150px;
  }
  .designed .flex {
    display: flex;
    flex-direction: row-reverse;
  }
}
.designed h2 {
  color: hsl(208deg, 49%, 24%);
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}
.designed__illustration-editor {
  background: url("../images/illustration-editor-mobile.svg") no-repeat center;
  height: 50vh;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .designed__illustration-editor {
    background: url("../images/illustration-editor-desktop.svg") no-repeat;
    margin-left: -60px;
    margin-top: -200px;
    height: 100vh;
    width: 210%;
  }
}
.designed__text {
  margin: 30px 35px 100px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .designed__text {
    margin-top: 80px;
    padding-right: 180px;
    text-align: left;
  }
}
.designed__text--introducing h3 {
  color: hsl(208deg, 49%, 24%);
  font-size: 26px;
  margin-bottom: 10px;
}
.designed__text--introducing p {
  color: hsl(207deg, 13%, 34%);
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 30px;
}
.designed__text--robust h3 {
  color: hsl(208deg, 49%, 24%);
  font-size: 26px;
  margin-bottom: 10px;
}
.designed__text--robust p {
  color: hsl(207deg, 13%, 34%);
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 30px;
}

.infrastructure {
  background: linear-gradient(to bottom, hsl(237deg, 23%, 32%) 0%, hsl(237deg, 17%, 21%) 70%, hsl(237deg, 23%, 32%) 80%);
  border-radius: 0 100px 0 100px;
  margin-top: 250px;
}
@media screen and (min-width: 1024px) {
  .infrastructure {
    background: linear-gradient(to bottom right, hsl(237deg, 23%, 32%) 0%, hsl(237deg, 17%, 21%) 25%, hsl(237deg, 23%, 32%) 80%);
    display: flex;
    height: 30vh;
    margin-top: 0;
    margin-bottom: 100px;
    width: 100%;
  }
}
.infrastructure__phones {
  background: url("../images/bg-pattern-circles.svg") no-repeat top;
  background-size: 150%;
  transform: rotate(180deg) translate(0%, -4%);
}
@media screen and (min-width: 1024px) {
  .infrastructure__phones {
    width: 200%;
    background-size: 100%;
    transform: rotate(180deg) translate(5%, 0%);
  }
}
.infrastructure__phones img {
  transform: rotate(180deg) translate(0%, -45%);
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .infrastructure__phones img {
    transform: rotate(180deg) translate(-30%, 18%);
    width: 55%;
  }
}
.infrastructure__text {
  color: hsl(0deg, 0%, 100%);
  margin-top: -120px;
  padding-bottom: 80px;
  position: relative;
  text-align: center;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .infrastructure__text {
    margin-top: 80px;
    text-align: left;
    transform: translateX(-30%);
  }
}
.infrastructure__text h2 {
  font-size: 36px;
}
@media screen and (min-width: 1024px) {
  .infrastructure__text h2 {
    font-size: 30px;
  }
}
.infrastructure__text p {
  font-weight: 400;
  line-height: 150%;
  margin: 25px 30px;
}
@media screen and (min-width: 1024px) {
  .infrastructure__text p {
    margin: 20px 0;
  }
}

.tooling {
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .tooling {
    display: flex;
  }
}
.tooling__laptop {
  background: url("../images/illustration-laptop-mobile.svg") no-repeat center;
  height: 50vh;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .tooling__laptop {
    background: url("../images/illustration-laptop-desktop.svg") no-repeat;
    transform: translateX(-32%);
    height: 81vh;
    width: 383%;
  }
}
.tooling__text {
  margin-top: 30px;
  padding: 0 25px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .tooling__text {
    margin: 150px 0 0 -225px;
    text-align: left;
    padding: 0;
    transform: translateX(-45%);
  }
  .tooling__text--powerful {
    margin-top: 50px;
  }
}
.tooling__text h3 {
  color: hsl(208deg, 49%, 24%);
  font-size: 30px;
  margin: 30px 0;
}
.tooling__text p {
  color: hsl(207deg, 13%, 34%);
  line-height: 150%;
}/*# sourceMappingURL=style.css.map */