.header {
	background: url("../images/bg-pattern-intro-mobile.svg") no-repeat left 38%
			bottom 55%,
		linear-gradient(to bottom right, $very-light-red 0%, $light-red 100%);
	border-radius: 0 0 0 20%;
	height: 65vh;

	&__image {
		display: flex;
		justify-content: space-between;

		&--logo {
			padding: 40px 0 0 15px;
			width: 20%;

			& img {
				width: 100%;
			}
		}

		&--burger {
			padding: 45px 15px 0 0;
			width: 11%;

			& img {
				width: 100%;
			}
		}
	}

	&__nav {
		display: none;
	}

	&__hero {
		margin-top: 80px;
		color: $white;
		text-align: center;

		& h1 {
			padding: 0 45px;
			font-weight: 400;
			margin-bottom: 20px;
		}

		& p {
			font-weight: 400;
			padding: 0 50px 35px;
		}

		& button {
			border: 1px solid $white;
			border-radius: 25px;
			padding: 10px 20px;
			font-weight: 600;
			transition: 0.3s;

			&#start-button {
				color: $light-red;
				background-color: $white;
				margin-right: 10px;

				&:hover {
					background-color: $very-light-red;
					border-color: $very-light-red;
					color: $white;
				}
			}

			&#learn-button {
				background-color: transparent;
				border: 1px solid $white;
				color: $white;

				&:hover {
					background-color: $white;
					color: $light-red;
				}
			}
		}
	}
}
